si/
R2S3/uczenie_maszynowe/regresja_liniowa/ND/
R2S3/uczenie_maszynowe/regresja_liniowa/ND357A_24bit_cut_ALL.zip
R2S3/.vscode/
R2S3/sieci_neuronowe/perceptron/SpeechDataset/
R2S3/sieci_neuronowe/perceptron/models/
*.npy
R2S4/MLP/Hot_1/aclImdb/
R2S4/MLP/Hot_1/glove/
*.h5
*.keras
R2S4/DNN/train/
R2S4/DNN/test1/
R2S4/DNN/datasets/
