si/
R2S3/uczenie_maszynowe/regresja_liniowa/ND/
R2S3/uczenie_maszynowe/regresja_liniowa/ND357A_24bit_cut_ALL.zip
R2S3/.vscode/
R2S3/sieci_neuronowe/perceptron/SpeechDataset/
R2S3/sieci_neuronowe/perceptron/models/
*.npy